


.section__description {
  margin-top: 1rem;
  text-align: center;
  color: var(--text-light);
  
}

.space{
  justify-content: space-around
}
.about-bg{
background-color: rgb(34, 36, 36);

}
.title{
  color: aliceblue;
}
.subtitle{
  color: aliceblue;
}
.desc{
  color: aliceblue;
}


.footer {
  background-color: black;
}

.footer__container {
  display: grid;
  gap: 4rem 2rem;
}

.footer__logo {
  margin-bottom: 2rem;
  color: var(--white);
}

.footer__logo div {
  background-color: var(--secondary-color);
}

.footer__socials {
  list-style: none;
  margin-top: 2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.description{
  color: aliceblue;
}
.raw2{
  color: aliceblue;
  font-size: 30px;
}

.footer__socials a {
  padding: 6px 10px;
  font-size: 1.25rem;
  color: var(--text-light);
  background-color: var(--white);
  border-radius: 100%;
  cursor: pointer;
  transition: 0.3s;
}

.footer__socials a:hover {
  color: var(--white);
  background-color: var(--secondary-color);
}
.footer__col{
  justify-content: space-between;
}
.footer__col h4 {
  margin-bottom: 2rem;
  font-size: 1.25rem;
  font-weight: 800;
  font-family: var(--header-font);
  color: var(--white);
}

.footer__links {
  list-style: none;
}

.footer__links li {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.footer__links a {
  color: var(--text-light);
  transition: 0.3s;
}

.footer__links a:hover {
  color: var(--secondary-color);
}

.footer__col:last-child .footer__links li {
  margin-bottom: 2rem;
}

.footer__links span {
  font-size: 2rem;
  color: var(--secondary-color);
}

.footer__links h5 {
  margin-bottom: 0.5rem;
  font-size: 1rem;
  font-weight: 800;
  font-family: var(--header-font);
  color: var(--white);
}

.footer__links p {
  color: var(--text-light);
}

.footer__bar {
  padding: 1rem;
  font-size: 0.8rem;
  color: var(--text-light);
  text-align: center;
}
.bg{
  background-color: black;
}
.description2{
  color: var(--secondary-color);
}
.pic{
  height: 100%;
  width: 32%;
}
.explorer{
  font-size: 30px;
  font-weight: 700;
}