
.orange-band{
    width: 250px;
    height: 40px;
    border: 1px solid orange;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 700;
    font-style: italic;
    color: rgb(98, 96, 96);
    padding: 0;
}
.orange-number{
    background-color: orange;
   padding-block: 8px;
   padding-inline: 15px
}
.cards-section{
    width: 100%;
}
.text{
    width: 250px;
    height: 40px;
    color:rgb(98, 96, 96);
}
.working{
    display: flex;
    align-items: center;
    justify-content:center;
}
.working-bg
{
    background-color: aliceblue;
    padding-block: 30px;
    margin-block: 30px;
}
@media screen and (max-width: 850px) {
    .working
    {
        display: block;
    }
}